@charset "UTF-8";
/* Глобальні стилі для секцій, контейнеру, заголовків та тексту секцій */
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767.98px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.header__logo {
  display: block;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__logo--color {
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo--link {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo--link:hover, .header__logo--link:focus {
  color: #2196f3;
}

.header__button--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__button--menu:hover, .header__button--menu:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__button--menu {
    display: none;
  }
}

.header__icon--menu {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button--menu .header__icon--close {
  display: none;
}

.header__button--menu.is-open .header__icon--close {
  display: block;
}

.header__button--menu.is-open .header__icon--open {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .header__container--menu {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    padding-top: 48px;
    padding-left: 30px;
  }
  .header__container--menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header__container--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header__navigations {
    margin-bottom: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigations {
    margin-right: 299px;
  }
}

.header__list {
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .header__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
  }
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 767.98px) {
  .header__link {
    font-size: 40px;
    line-height: 1.175;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__link.current {
  color: #2196f3;
}

.header__link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767.98px) {
  .header__link.current::after {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header__box--fixed {
    position: fixed;
    bottom: 48px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__contact {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__list--contact {
    margin-left: 43px;
  }
}

@media screen and (min-width: 1200px) {
  .header__list--contact {
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .header__item--end:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__item--end:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__item--end:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header__box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.header__icon {
  margin-right: 10px;
}

@media screen and (max-width: 767.98px) {
  .header__icon {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header__link--maill {
    font-size: 24px;
    color: #757575;
  }
  .header__link--maill:hover, .header__link--maill:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header__link--maill {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__link--tel {
    font-size: 36px;
    line-height: 1.76;
    color: #2196f3;
  }
  .header__link--tel:hover, .header__link--tel:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header__link--tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.link-contacts {
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .link-contacts {
    display: flex;
    align-items: center;
    color: #757575;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: #757575;
  }
}

.link-contacts:hover, .link-contacts:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__social {
    display: none;
  }
}

.header__list--social {
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .header__list--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.header__item--social:not(:last-child)::after {
  content: '';
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.header__link--social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
}

.header__link--social:hover, .header__link--social:focus {
  color: #2196f3;
  fill: #2196f3;
}

.hero {
  padding-top: 0;
  background-color: #c4c4c4;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  padding-top: 118px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
    padding-top: 200px;
  }
}

.hero__button {
  display: block;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.overlay {
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767.98px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero/hero-img-480.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-480.jpg);
    max-width: 767px;
    height: 400px;
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero/hero-img-960.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-960.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero/hero-img-768.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-768.jpg);
    max-width: 1199px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero/hero-img-1536.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-1536.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero/hero-img-1600.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-1600.jpg);
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/hero/hero-img-3200.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/hero-img-3200.jpg);
  }
}

.animate__animated.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.about__list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.about__title {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .about__text {
    margin-bottom: 30px;
  }
}

.work {
  padding-top: 0;
}

@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;
}

.work__item {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
  flex-basis: calc((100% - 90px) / 3);
}

.work__box {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  z-index: 1;
}

.animate__animated.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__item {
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767.98px) {
  .team__photo {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__photo {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__photo {
    width: 370px;
  }
}

.team__subtext {
  margin-top: 30px;
}

.team__collaborator {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 16px;
}

.team__list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px;
  list-style: none;
}

.team__item--social {
  width: 44px;
  height: 44px;
  background-color: transparent;
}

.team__item--social:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  list-style: none;
}

@media screen and (max-width: 1199.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients__item {
  height: 90px;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__widget {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__widget {
    -ms-flex-preferred-size: calc((100%) / 2);
    flex-basis: calc((100%) / 2);
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__widget {
    -ms-flex-preferred-size: calc((50% - 45px) / 2);
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__widget:last-child {
    -ms-flex-preferred-size: calc(50% - 15px);
    flex-basis: calc(50% - 15px);
  }
}

.footer__logo {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__logo--color {
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.footer__logo--link {
  color: #ffffff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.footer__logo--link:hover, .footer__logo--link:focus {
  color: #2196f3;
}

.footer__list {
  display: inline-block;
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .footer__list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__list {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__contact--link.map {
  color: #ffffff;
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}

.footer__contact--link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}

.footer__contact--link:hover, .footer__contact--link:focus {
  color: #2196f3;
}

.footer__text {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__list--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 1199.98px) {
  .footer__list--social {
    margin-bottom: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__item--social {
  width: 44px;
  height: 44px;
}

.footer__item--social:not(:last-child) {
  margin-right: 10px;
}

.footer__link--icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
}

.footer__link--icon:hover, .footer__link--icon:focus {
  background-color: #2196f3;
}

.footer__text--subscribe {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__label--subscribe {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__label--subscribe {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__input--subscribe {
  font-size: 16px;
  line-height: 1.25;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .footer__input--subscribe {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input--subscribe {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__input--subscribe::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input--subscribe::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input--subscribe:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input--subscribe::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input--subscribe::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__button--subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__button--subscribe:focus, .footer__button--subscribe:hover {
  background-color: #188ce8;
}

.footer__icon--subscribe {
  margin-left: 10px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0);
  -ms-transform: translate(-50%, -50%) scaleY(0);
  transform: translate(-50%, -50%) scaleY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(1);
  -ms-transform: translate(-50%, -50%) scaleY(1);
  transform: translate(-50%, -50%) scaleY(1);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

@media screen and (max-width: 479.98px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 448px;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal__group:nth-child(-n+4) {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__group--input {
  position: relative;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__group--input:hover, .modal__group--input:focus-within {
  fill: #2196f3;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus-within {
  outline: none;
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:hover, .modal__textarea:focus-within {
  outline: none;
  border-color: #2196f3;
}

.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label--checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal__checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__icon--custom {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__icon--custom {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
}

.modal__checkbox:hover + .modal__icon--custom {
  border-color: #2196f3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text--checkbox {
  color: #757575;
  line-height: 1.71;
}

@media screen and (max-width: 1199.98px) {
  .modal__text--checkbox {
    font-size: 12px;
  }
}

.modal__link {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  line-height: 1.71;
}

@media screen and (max-width: 1199.98px) {
  .modal__link {
    font-size: 12px;
  }
}

.modal__buttom {
  display: inline-block;
  width: 200px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal__buttom:hover, .modal__buttom:focus-within {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
}

.portfolio__list {
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 8px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list--wrap {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio__list--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio__item--wrap {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767.98px) {
  .portfolio__item--wrap {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item--wrap {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item--wrap {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: transform, background-color;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .portfolio__images {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__images {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__images {
    width: 370px;
  }
}

.portfolio__text--hiden {
  font-size: 18px;
  line-height: 1.56;
  width: 322px;
  color: #ffffff;
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__aside {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */