
.about__list {
    @media screen and (min-width: $tablet-breakpoints) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
    @media screen and (min-width: $desctop-breakpoints) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -30px;
        margin-left: -30px;
    }
 
    list-style: none;
}

.about__item {
    @media screen and (min-width: $tablet-breakpoints) {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: $desctop-breakpoints) {
        margin-top: 30px;
        margin-left: 30px;
        -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
            flex-basis: calc((100% - 4 * 30px) / 4);
        }
}

.about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $bg-team-portfolio-icon-filter-color;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.about__icon {
    display: block;
    width: 70px;
    height: 70px;
}

.about__title {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about__text {
    @media screen and (max-width: 767.98px) {
        margin-bottom: 30px;
}
}