

.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  &__container {
    @media screen and (min-width: $tablet-breakpoints) {
      display: flex;
      align-items: center;
    }
}
}

.header__nav {
@media screen and (max-width: 767px) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: $tablet-breakpoints) {
  display: flex;
  align-items: center;
}
}

  .header__logo {
    display: block;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    @media screen and (min-width: $tablet-breakpoints) and (max-width: 1199px) {
    margin-right: 88px;
    }
    @media screen and (min-width: $desctop-breakpoints) {
      margin-right: 93px;
    }

    &--color {
      color: $button-hover-color;
      font-family: Raleway;
      font-weight: bold;
      font-size: 26px;
      line-height: 1.2;
    }

      &--link {
        color: #000000;
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.2;

        &:hover, &:focus {
          color: $button-hover-color;
        }
      }
  }

  .header__button--menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
   
    &:hover, &:focus {
      fill: $button-hover-color;
    }

    @media screen and (min-width: $tablet-breakpoints) {
      display: none;
    }
  }

.header__icon--menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button--menu .header__icon--close {
  display: none;
  }
  
  .header__button--menu.is-open .header__icon--close {
  display: block;
  }

  .header__button--menu.is-open .header__icon--open {
    display: none;
  }

.header__container--menu {

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &.is-open {
      display: block;
    }
    background-color: $bg-body-color;
  }

  @media screen and (min-width: $tablet-breakpoints) {
    display: flex;
    align-items: center;
}
}

.header__navigations {
  @media screen and (max-width: 767px) {
    margin-bottom: 230px;
    padding-top: 48px;
    padding-left: 40px;
  } @media screen and (min-width: $desctop-breakpoints) {
    margin-right: 298px;
  }
}

  .header__list {
    list-style: none;
  }

  .header__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
      margin-bottom: 32px;
      }
    }
    @media screen and (min-width: $tablet-breakpoints) {
      display: inline-flex;
      &:not(:last-child) {
        margin-right: 50px;
    }
    position: relative;
  }
}

  .header__link {
    @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.175;
    }

    @media screen and (min-width: $tablet-breakpoints) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    display: block;
    color: $title-nav-filter-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover, &:focus {
      color: $button-hover-color;
    }

    &.current {
      color: $button-hover-color;
    }
  }

  .header__link.current {

    &::after {
      @media screen and (max-width: 767px) {
        display: none;
      }
      content: "";
      position: absolute;
      display: block;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $button-hover-color;
    }
  }

  .header__contact {
    @media screen and (max-width: 767px) {
      margin-bottom: 64px;
      padding-left: 40px;
    }
    }
    
    
  .header__list--contact {
    @media screen and (min-width: $tablet-breakpoints) and (max-width: 1199px) {
      margin-left: 40px;
    }

    @media screen and (min-width: $desctop-breakpoints) {
    display: flex;
    margin-left: auto;
  }
}
  
  .header__item--end {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    @media screen and (min-width: $tablet-breakpoints) and (max-width: 1199px) {

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
      @media screen and (min-width: $desctop-breakpoints) {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  
 
  .header__box {
    @media screen and (min-width: $tablet-breakpoints) {
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

  .header__icon {
    @media screen and (max-width: 767px) {
        display: none;}
        
    margin-right: 10px;
}

  .header__link--maill {
    @media screen and (max-width: 767px) {
      font-size: 24px;
      &:hover, &:focus {
        color: $button-hover-color;
        fill: $button-hover-color;
    }
  }
  @media screen and (min-width: $desctop-breakpoints) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
    display: block;
    color: $text-link-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: #757575;

    &:hover, &:focus {
      color: $button-hover-color;
      fill: $button-hover-color;
    }
  }

  .header__link--tel {
    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 1.76;
      color: $button-hover-color;

      &:hover, &:focus {
        color: $button-hover-color;
        fill: $button-hover-color;
    }
  }

  @media screen and (min-width: $desctop-breakpoints) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

    display: block;
    color: $text-link-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: #757575;

    &:hover, &:focus {
      color: $button-hover-color;
      fill: $button-hover-color;
    }
  }

  .header__social {
    padding-bottom: 40px;
    padding-left: 40px;
    @media screen and (min-width: $tablet-breakpoints) {
      display: none;
    }
  }

  .header__list--social {
    @media screen and (max-width: 767px) {
      display: flex;
    }
    list-style: none;
  }

  .header__item--social {
    margin-right: 15px;
  }

  .header__link--social {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $button-hover-color;
    text-decoration: none;
    cursor: pointer;

    &:hover, &:focus {
      color: $button-hover-color;
      fill: $button-hover-color;
    }
  }