

.hero {
    padding-top: 0;
    background-color: $bg-hero-title;
  
  &__title {

    @media screen and (min-width: $desctop-breakpoints) {
        font-size: 44px;
        line-height: 1.36;
        min-width: 696px;
        padding-top: 200px;
        }

        color: $title-footer-color;
        font-weight: 900;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        margin-right: auto;
        margin-left: auto;
        max-width: 360px;
        font-size: 26px;
        line-height: 1.62;
        padding-top: 118px;
        margin-bottom: 30px;
      }
  }
  
  .hero__button {
      display: block;
      background-color: $button-hover-color;
      color: $portfolio-text-hover-color;
      font-size: 16px;
      line-height: 1.87;
      font-weight: bold;
      letter-spacing: 0.06em;
      padding: 10px 32px;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      cursor: pointer;
  
      &:hover,
      &:focus {
          background-color: #188ce8;
      }
  }
  
  .overlay {
      margin-right: auto;
      margin-left: auto;
      background-position: center;
      background-size: cover;

      @media screen and (max-width: 767px) {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
          ),
          url(../images/studio/hero/hero-img-480.jpg);

      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/studio/hero/hero-img-960.jpg);
        }
        max-width: 767px;
        height: 400px;
    }

    @media screen and (min-width: $tablet-breakpoints) {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
          ),
          url(../images/studio/hero/hero-img-768.jpg);

      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/studio/hero/hero-img-1536.jpg);
        }
        max-width: 1199px;
        height: 400px;
    }

    @media screen and (min-width: $desctop-breakpoints) {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
          ),
          url(../images/studio/hero/hero-img-1600.jpg);

      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/studio/hero/hero-img-3200.jpg);
        }
        max-width: 1600px;
        height: 600px;
    }
  }
  
  .animate__animated.animate__zoomIn {
      -webkit-animation-name: zoomIn;
              animation-name: zoomIn;
      -webkit-animation-duration: 1500ms;
              animation-duration: 1500ms;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-animation-delay: 200ms;
              animation-delay: 200ms;
  }