$button-hover-color: #2196f3;
$title-nav-filter-color: #212121;
$text-link-color: #757575;
$dark-bg-color: #2f303a;
$bg-team-portfolio-icon-filter-color: #f5f4fa;
$hover-focus-color: #ffffff;
$title-footer-color: #ffffff;
$bg-hero-title: #c4c4c4;
$bg-body-color:  #ffffff;
$portfolio-text-hover-color: #ffffff;
$portfolio:#ffffff;
$mobile-breakpoints: 480px;
$tablet-breakpoints: 768px;
$desctop-breakpoints: 1200px;